<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 4 / SPRINT 2 / NOTE 1*

# ğŸ“ Assignment

---


# Count-based_Representation

indeed.com ì—ì„œ Data Scientist í‚¤ì›Œë“œë¡œ Job descritionì„ ì°¾ì•„ ìŠ¤í¬ë˜í•‘í•œ ë°ì´í„°ë¥¼ ì´ìš©í•´ ê³¼ì œë¥¼ ì§„í–‰í•´ ë³´ê² ìŠµë‹ˆë‹¤.

[Data_Scienties.csv](https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/indeed/Data_Scientist.csv) íŒŒì¼ì—ëŠ” 1300ì—¬ê°œì˜ Data Scientist job description ì •ë³´ê°€ ë‹´ê²¨ ìˆìŠµë‹ˆë‹¤.

## 1. ë°ì´í„° ì „ì²˜ë¦¬ (Text preprocessing)

In [2]:
import re
import string

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 0) í…ìŠ¤íŠ¸ ë¶„ì„ì— ì•ì„œ ë°ì´í„° ì „ì²˜ë¦¬ë¥¼ ì§„í–‰í•©ë‹ˆë‹¤.

- íŒŒì¼ì„ ë¶ˆëŸ¬ì˜¨ í›„ title, company, description ì— í•´ë‹¹í•˜ëŠ” Columnë§Œ ë‚¨ê²¨ì£¼ì„¸ìš”.
- ì¤‘ë³µê°’ì„ ì œê±°í•˜ì„¸ìš”.

In [6]:
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/indeed/Data_Scientist.csv')


# title, company, description column
pre_df = df[['title', 'company', 'description']]

# delete duplicates
print(pre_df.duplicated())
pre_df = pre_df.drop_duplicates()

print(pre_df.shape)

0       False
1        True
2       False
3        True
4       False
        ...
1295    False
1296     True
1297    False
1298     True
1299    False
Length: 1300, dtype: bool
(757, 3)

### 1) í† í°ì„ ì •ì œí•©ë‹ˆë‹¤.

- ë¬¸ìë¥¼ ì†Œë¬¸ìë¡œ í†µì¼
- ë¶„ì„ì— ê´€ë ¨ ì—†ëŠ” ì •ë³´ ì œê±°
- ì´ë²ˆ ê³¼ì œëŠ” `spacy` ë¡œë¶€í„° `"en_core_web_sm"` ì„ ë¡œë“œí•˜ì—¬ ì§„í–‰í•´ì£¼ì„¸ìš”.

- **ë¬¸í•­ 1) ëŒ€ë¬¸ìë¥¼ ì†Œë¬¸ìë¡œ ë³€ê²½í•˜ëŠ” í•¨ìˆ˜ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**
- **ë¬¸í•­ 2) ì •ê·œ í‘œí˜„ì‹ì„ ì‚¬ìš©í•˜ì—¬ re ë¼ì´ë¸ŒëŸ¬ë¦¬ì—ì„œ ì•ŒíŒŒë²³ ì†Œë¬¸ì, ìˆ«ìë§Œ ë°›ì„ ìˆ˜ ìˆëŠ” ì½”ë“œë¥¼ ì‘ì„±í•˜ì„¸ìš”.**

In [7]:
import spacy
from spacy.tokenizer import Tokenizer

nlp = spacy.load("en_core_web_sm")
tokenizer = Tokenizer(nlp.vocab)

def refine(sentence):
    
    # lowercase
    sentence = sentence.lower()
    
    # apply regex
    sentence = re.sub(r"[^a-z0-9 ]", "", sentence)

    return sentence

last_desc = pre_df['description'][-1:].values[0]
#print(last_desc[0])

tokens = tokenizer(last_desc)
#print(tokens)
print(tokens[0])

doc = nlp(last_desc)
#print(doc)
print(doc[0])

last_desc = refine(doc[0].text)
print(last_desc)

tl;dr
tl;dr
tldr

### 2) ì •ì œí•œ í† í°ì„ ì‹œê°í™” í•©ë‹ˆë‹¤.

- Top 10 í† í°ì„ í”„ë¦°íŠ¸ í•©ë‹ˆë‹¤.
- í† í°ì˜ ìˆ˜, ë¹ˆë„ ìˆœìœ„, ì¡´ì¬ ë¬¸ì„œ ìˆ˜, ë¹„ìœ¨ ë“± ì •ë³´ë¥¼ ê³„ì‚°í•©ë‹ˆë‹¤.
- í† í° ìˆœìœ„ì— ë”°ë¥¸ í¼ì„¼íŠ¸ ëˆ„ì  ë¶„í¬ ê·¸ë˜í”„ë¥¼ ì‹œê°í™”í•©ë‹ˆë‹¤.

- **ë¬¸í•­ 3) ì¶”ì²œ í† í° ìˆœìœ„ 10ê°œ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [ ]:
def resub(desc):
    desc = desc.lower()
#    desc = desc.replace("\n", " ")
    desc = re.sub(r"\n", " ", desc)
    desc = re.sub(r"[^a-z0-9 ]", "", desc)

    tokens = desc.split()
    return tokens

#pre_df['tokens'] = pre_df['description'].apply(tokenizer)
pre_df['tokens'] = pre_df['description'].apply(resub)
#pre_df['tokens'] = pre_df['tokens'].apply(tokenizer)   # ë„ëŒ€ì²´ ì™œ ì•ˆë˜ëŠ”ê±¸ê¹Œ... í›„..... 
#pre_df['tokens'] = pre_df['tokens'].apply(list)

#pre_df['description'].head()
pre_df['tokens'].head()

#pre_df.head()

In [10]:
from collections import Counter

word_counts = Counter()

pre_df['tokens'].apply(lambda x: word_counts.update(x))  # -> lambda ì¢€ ë” ìµìˆ™í•´ì§€ê¸°

## Top 10 tokens
word_counts.most_common(10)

[('and', 21863),
 ('to', 12694),
 ('the', 10538),
 ('of', 8839),
 ('data', 7425),
 ('in', 6769),
 ('a', 6436),
 ('with', 5727),
 ('for', 4132),
 ('or', 3812)]

In [11]:
## í† í°ì˜ ìˆ˜, ë¹ˆë„ ìˆœìœ„, ì¡´ì¬ ë¬¸ì„œ ìˆ˜, ë¹„ìœ¨ ë“± ì •ë³´ ê³„ì‚°
def word_count(docs):
    w_counts = Counter()
    w_in_docs = Counter()
    total_docs = len(docs)

    for doc in docs:
        w_counts.update(doc)
        w_in_docs.update(set(doc))
    
    temp = zip(w_counts.keys(), w_counts.values())   # zip ì¢€ ë” íŒŒì•…í•˜ê¸°
    wc = pd.DataFrame(temp, columns=['word', 'count'])

    return wc

#wc = word_count(df['tokens'])
#wc.head()

In [12]:
## í† í° ìˆœìœ„ì— ë”°ë¥¸ í¼ì„¼íŠ¸ ëˆ„ì  ë¶„í¬ ê·¸ë˜í”„ ì‹œê°í™”
import seaborn as sns

### 4) í™•ì¥ëœ ë¶ˆìš©ì–´ ì‚¬ì „ì„ ì‚¬ìš©í•´ í† í°ì„ ì •ì œí•©ë‹ˆë‹¤.

- **ë¬¸í•­ 4) ê¸°ë³¸ ë¶ˆìš©ì–´ ì‚¬ì „ì— ë‘ ë‹¨ì–´(`"data", "work"`)ë¥¼ ì¶”ê°€í•˜ëŠ” ì½”ë“œë¥¼ ì‚¬ìš©í•´ì£¼ì„¸ìš”.**
- **ë¬¸í•­ 5) ë¶ˆìš©ì–´ë¥¼ ì œê±°í•˜ê³  ë‚œ ë’¤ í† í° ìˆœìœ„ 10ê°œì˜ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [13]:


#nlp.Defaults.stop_words

## add "data", "work" to stop_words
Stop_Words = nlp.Defaults.stop_words.union(['data', 'work'])

## Top 10 tokens

tok = []

for doc in tokenizer.pipe(pre_df['description']):   # Tokenizer.pipe íŒŒì•…í•˜ê¸°
    doc_tok = []

    for token in doc:
        if (token.text.lower() not in Stop_Words) & (token.text.lower() not in ['\n', '\n\n']):
        # if (token.is_stop == False) & (token.is_punct == False):
            doc_tok.append(token.text.lower())
    
    tok.append(doc_tok)

pre_df['added stop word tokens'] = tok
pre_df['added stop word tokens'].head()

sw_counts = Counter()

pre_df['added stop word tokens'].apply(lambda x: sw_counts.update(x))  # -> lambda ì¢€ ë” ìµìˆ™í•´ì§€ê¸°

## Top 10 tokens
sw_counts.most_common(10)

[('experience', 3055),
 ('business', 1885),
 ('team', 1323),
 ('learning', 1193),
 ('machine', 1140),
 ('science', 1048),
 ('ability', 958),
 ('analysis', 896),
 ('statistical', 890),
 ('skills', 886)]

### 5) Lemmatization ì‚¬ìš© íš¨ê³¼ë¥¼ ë¶„ì„í•´ ë´…ë‹ˆë‹¤.

- **ë¬¸í•­ 6) Lemmatizationì„ ì§„í–‰í•œ ë’¤ ìƒìœ„ 10ê°œ ë‹¨ì–´ë¥¼ ì…ë ¥í•˜ì„¸ìš”.**

In [14]:


## Lemmatization (í‘œì œì–´ ì¶”ì¶œ)

def get_lemmas(text):
    lemmas = []
    l_doc = nlp(text)

    for token in l_doc:
        if (token.text.lower() not in Stop_Words
            ) & (token.is_punct == False
            ) & (token.text.lower() not in ['\n', '\n\n']
            ) & (token.pos_ != 'PRON'):  # Part-Of-Speech tag
            lemmas.append(token.lemma_)   # .lower() ë¥¼ í•˜ê³  ì•ˆí•˜ê³ ê°€ íƒ‘10 ê²°ê³¼ì— ì˜í–¥ì„ ë¼ì¹¨!
    return lemmas

pre_df['lemmas'] = df['description'].apply(get_lemmas)
pre_df['lemmas'].head

lm_counts = Counter()

pre_df['lemmas'].apply(lambda x: lm_counts.update(x))  # -> lambda ì¢€ ë” ìµìˆ™í•´ì§€ê¸°

## Top 10 tokens
lm_counts.most_common(10)

## .lower() í–ˆì„ ê²½ìš° íƒ‘10
#  [('experience', 3681),
#  ('team', 2338),
#  ('business', 2194),
#  ('science', 1714),
#  ('analysis', 1606),
#  ('model', 1464),
#  ('learning', 1330),
#  ('product', 1298),
#  ('machine', 1214),
#  ('skill', 1212)]

[('experience', 3578),
 ('team', 2251),
 ('business', 2029),
 ('analysis', 1531),
 ('model', 1446),
 ('skill', 1205),
 ('product', 1196),
 ('include', 1178),
 ('develop', 1163),
 ('analytic', 1153)]

## 2. ìœ ì‚¬í•œ ë¬¸ì„œ ì°¾ê¸°

### 1) `TfidfVectorizer`ë¥¼ ì´ìš©í•´ ê° ë¬¸ì„œë“¤ì„ ë²¡í„°í™” í•œ í›„ KNN ëª¨ë¸ì„ ë§Œë“¤ê³ , <br/> ë‚´ê°€ ì›í•˜ëŠ” `job description`ì„ ì§ˆì˜í•´ ê°€ì¥ ê°€ê¹Œìš´ ê²€ìƒ‰ ê²°ê³¼ë“¤ì„ ê°€ì ¸ì˜¤ê³  ë¶„ì„í•©ë‹ˆë‹¤.

- **ë¬¸í•­ 9) 88ë²ˆ indexì˜ `job description`ì™€ 5ê°œì˜ ê°€ì¥ ìœ ì‚¬í•œ `job description`ì´ ìˆëŠ” indexë¥¼ ì…ë ¥í•˜ì„¸ìš”.**
    - ë‹µì€ 88ë²ˆ ì¸ë±ìŠ¤ë¥¼ í¬í•¨í•©ë‹ˆë‹¤.
    - `max_features = 3000` ìœ¼ë¡œ ì„¤ì •í•©ë‹ˆë‹¤.
    - [88, 90, 91, 93, 94] í˜•íƒœë¡œ ë‹µì„ ì…ë ¥í•´ì£¼ì„¸ìš”

In [15]:


from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

pre_df['description'].iloc[88]
pre_df.iloc[88]

tfidf = TfidfVectorizer(stop_words='english', max_features=3000)

dtm_tfidf = tfidf.fit_transform(pre_df['description'])

dtm_tfidf = pd.DataFrame(dtm_tfidf.todense(), columns=tfidf.get_feature_names())

dtm_tfidf.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,00,000,10,100,11,12,14,15,18,19,...,written,www,year,years,yelp,yes,york,yrs,zillow,zulily
0,0.0,0.000000,0.05272,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.000000,0.023379,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.000000,0.018485,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.05851,0.0,0.000000,0.017488,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.033337,0.00000,0.035082,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.060084,0.013012,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.000000,0.00000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00000,0.0,0.000000,0.047268,0.0,0.0,0.0,0.0,0.0,0.0

In [16]:
from sklearn.neighbors import NearestNeighbors

nn = NearestNeighbors(n_neighbors=5, algorithm='kd_tree')
nn.fit(dtm_tfidf)

nn.kneighbors([dtm_tfidf.iloc[88]])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but NearestNeighbors was fitted with feature names
  "X does not have valid feature names, but"

(array([[0.        , 1.1283426 , 1.18893646, 1.19442548, 1.19937307]]),
 array([[ 88,  40, 121,  68, 680]]))

## 3. TF-IDF ì´ìš©í•œ í…ìŠ¤íŠ¸ ë¶„ë¥˜ ì§„í–‰í•˜ê¸°

TF-IDFë¥¼ ì´ìš©í•´ ë¬¸ì¥ í˜¹ì€ ë¬¸ì„œë¥¼ ë²¡í„°í™”í•œ ê²½ìš°, ì´ ë²¡í„°ê°’ì„ ì´ìš©í•´ ë¬¸ì„œ ë¶„ë¥˜ íƒœìŠ¤í¬ë¥¼ ì§„í–‰í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. 

í˜„ì¬ ë‹¤ë£¨ê³  ìˆëŠ” ë°ì´í„°ì…‹ì—ëŠ” labelì´ ì¡´ì¬í•˜ì§€ ì•Šìœ¼ë¯€ë¡œ, title ì»¬ëŸ¼ì— "Senior"ê°€ ìˆëŠ”ì§€ ì—†ëŠ”ì§€ ì—¬ë¶€ë¥¼ í†µí•´ Senior ì§ë¬´ ì—¬ë¶€ë¥¼ ë¶„ë¥˜í•˜ëŠ” ì‘ì—…ì„ ì§„í–‰í•´ë³´ê² ìŠµë‹ˆë‹¤.

### 1) title ì»¬ëŸ¼ì— "Senior" ë¬¸ìì—´ì´ ìˆìœ¼ë©´ 1, ì—†ìœ¼ë©´ 0ì¸ "Senior"ë¼ëŠ” ìƒˆë¡œìš´ ì»¬ëŸ¼ì„ ìƒì„±í•´ì£¼ì„¸ìš”.

ë¬¸í•­ 7) ìƒˆë¡­ê²Œ ë§Œë“  Senior ì»¬ëŸ¼ì—ì„œ ê°’ì´ 1ì¸ (Senior O) ë°ì´í„°ì˜ ê°œìˆ˜ëŠ”?

In [17]:


pre_df['senior'] = pre_df['title'].apply(lambda x: 1 if 'Senior' in x else 0)
pre_df.head()

pre_df['senior'].value_counts()



from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report

x = dtm_tfidf
x_train, x_val, y_train, y_val = train_test_split(x, pre_df['senior'],test_size = 0.1, train_size=0.9, random_state=42)

model = DecisionTreeClassifier(random_state=42)
model.fit(x_train, y_train)
y_pred = model.predict(x_val)

print(classification_report(y_val, y_pred))

              precision    recall  f1-score   support

           0       0.93      0.84      0.88        68
           1       0.27      0.50      0.35         8

    accuracy                           0.80        76
   macro avg       0.60      0.67      0.62        76
weighted avg       0.86      0.80      0.83        76

ë¬¸í•­ 8) sklearnì˜ `train_test_split`ì„ í†µí•´ train ë°ì´í„°ì™€ valid ë°ì´í„°ë¡œ ë‚˜ëˆˆ í›„, `sklearn`ì˜ `DecisionTreeClassifier`ë¥¼ ì´ìš©í•´ ë¶„ë¥˜ë¥¼ ì§„í–‰í•´ì£¼ì„¸ìš”. 

ë‹¨, xê°’ì€ ìœ„ì—ì„œ í•™ìŠµí•œ dtm_tfidfë¥¼ ê·¸ëŒ€ë¡œ ì´ìš©í•´ì£¼ì„¸ìš”. train_test_splitê³¼ DecisionTreeClassifierì˜ random_stateì„ 42ë¡œ ê³ ì •í•˜ê³ , test_sizeëŠ” 0.1ë¡œ ì„¤ì •í•´ì£¼ì„¸ìš”.

í•™ìŠµì„ ì™„ë£Œí•œ í›„, test ë°ì´í„°ì— ëŒ€í•œ ì˜ˆì¸¡ì„ ì§„í–‰í•˜ê³  label 1ì— ëŒ€í•œ precisionê³¼ recall ê°’ì„ ì ì–´ì£¼ì„¸ìš”

In [18]:


from sklearn.metrics import precision_recall_fscore_support

precision_recall_fscore_support(y_val, y_pred)

(array([0.93442623, 0.26666667]),
 array([0.83823529, 0.5       ]),
 array([0.88372093, 0.34782609]),
 array([68,  8]))